@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekan;
    src: url("./assets/YekanBakhFaNum-Regular.woff") format("woff");
    font-weight: 100 400;
    font-display: swap;
}

@font-face {
    font-family: yekan;
    src: url("./assets/YekanBakhFaNum-Bold.woff") format("woff");
    font-weight: 500 700;
    font-display: swap;
}

@font-face {
    font-family: yekan;
    src: url("./assets/YekanBakhFaNum-ExtraBlack.woff") format("woff");
    font-weight: 800 1000;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

#app {
    font-family: yekan, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-container {
    width: 1152px;
    margin: 0 auto;
    max-width: 100%;
}

.c-box {
    width: 483px;
    margin: 0 auto;
    max-width: 100%;
}

.x-scroll {
    // overflow: visible;
    // overflow-clip-margin: 20px;

    scrollbar-width: none;
}

.x-scroll::-webkit-scrollbar {
    display: none;
}

.c-shadow-green-xl {
    box-shadow: 0px 10px 15px 5px #dcf1e5;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.5s ease-out;
}

.slide-left-enter-to,
.slide-left-enter-from,
.slide-left-leave-to,
.slide-left-leave-from,
.slide-right-enter-to,
.slide-right-enter-from,
.slide-right-leave-to,
.slide-right-leave-from {
    position: fixed;
}

.slide-left-enter-to {
    right: 0;
}

.slide-left-enter-from {
    right: 100%;
}

.slide-left-leave-to {
    left: 100%;
}

.slide-left-leave-from {
    left: 0;
}

.slide-right-enter-to {
    right: 0;
}

.slide-right-enter-from {
    right: -100%;
}

.slide-right-leave-to {
    left: -100%;
}

.slide-right-leave-from {
    left: 0;
}
